.modal {
    display: block; /* Tampilkan modal */
    position: fixed; /* Tempatkan modal di tengah layar */
    z-index: 1; /* Letakkan modal di atas layar */
    left: 0;
    top: 0;
    width: 100%; /* Sesuaikan lebar modal dengan lebar layar */
    height: 100%; /* Sesuaikan tinggi modal dengan tinggi layar */
    overflow: auto; /* Atur agar overflow modal tidak menimbulkan scrollbar */
    background-color: rgb(0,0,0); /* Atur warna latar belakang modal */
    background-color: rgba(0,0,0,0.4); /* Atur transparansi latar belakang modal */
    padding-top: 60px; /* Atur jarak antar konten modal dan latar belakangnya */
}